@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}


.container {
    background-color: #395144;
    width: 100vw;
    height: 100vh;
    position: relative;
    font-size: 5px;
}

.container p {
    color: whitesmoke;
    font-size: 11em;
    font-weight: 500;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
}

.form {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    background-color: #4E6C50;
    padding: 30px;
    border-radius: 20px 0px;
    width: 35%;
    text-align: center;
}

.form label {
    font-size: 5em;
    color: black;
}

.form label span {
    color: red;
}

.form input,textarea {
    background-color: #F0EBCE;
    color: black;
    border: none;
    outline: none;
    font-size: 4.5em;
    padding: 8px 10px;
    width: 80%;
    margin: 10px 0px 15px 0px;
}

.form input[type="submit"] {
    background-color: #c29f63;
    width: 180px;
    margin-top: 45px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 4.5em;
}

.form input[type="submit"]:hover {
    background-color: #9076499b;
    transition: 0.7s;
    transform: scale(1.1);
    border-radius: 10px;
    border: 1px solid #F0EBCE;
}
.form .mp{
    position: relative;
}
.form i {
    font-size: 30px;
    position: absolute;
    right: 10%;
    top: 29%;
    cursor: pointer;
}

.form textarea {
    resize: none;
}

form a{
    font-size: 4.5em;
    margin-left: -80%;
    position:relative;
    top: 20px;
    color: blue;
}

form a:hover {
    color: rgb(3, 3, 134)
}