@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}


.container {
    background-color: rgba(255, 255, 255, 0);
    width: 100vw;
    height: 100vh;
    position: relative;
    font-size: 5px;
}

.form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #94b6ff4c;
    padding: 30px;
    border-radius: 20px 0px;
    width: 35%;
    text-align: center;
}

.form h1 {
    font-size: 7em;
    text-align: left;
    margin-bottom: 5%;
    position: relative;
}
.form h1::after {
    content: '';
    position: absolute;
    left: 5px;
    bottom: -6px;
    height: 4px;
    background-color: black;
    width: 130px;
}

.form label {
    font-size: 5em;
    color: black;
}

.form label span {
    color: red;
}

.form input,textarea {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    font-size: 4.5em;
    padding: 8px 10px;
    width: 80%;
    margin: 10px 0px 15px 0px;
}

.form input[type="submit"] {
    background-color: #2c4d938c;
    width: 100%;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 4.5em;
}

.form input[type="submit"]:hover {
    background-color: #26427fb7;
    transition: 0.7s;
    border-radius: 10px;
    border: 1px solid #F0EBCE;
}
.form .mp{
    position: relative;
}
.form i {
    font-size: 30px;
    position: absolute;
    right: 10%;
    top: 29%;
    cursor: pointer;
}

.form textarea {
    resize: none;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.links a{
    font-size: 4.5em;
    color: blue;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}



  