
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    float: left;
    scroll-behavior: smooth;
}
html{font-size: 10px;}

        /*** variable ***/
:root{
    --bagcolorsection1 : #AA8B56;
    --bagcolorsection : #4E6C50;
    --bagcolorfooter : #1a2720;
    --colorfooter : whitesmoke;
    --paragraphcolor : #E6F5FF;
    --colorh1 : #2c4c93;
    --bagcoloraides : #F0EBCE;
    --bagcolorservices : #E6E2C3;
    --coloriconesservices : blue;
    --navbarcolor : white;
}


    /********** container **********/
.container{
    display: flexbox;
    background-color: #395144;
    min-width: 100%;
    min-height: 100vh;
}



    /**************************************** section 1 ****************************************/
.first_section{
    position: fixed;
    background-color: var(--bagcolorsection1);
    height: 100px;
    width: 100%;
    top: 0px;
    z-index: 200;
}
.first_section .logo{
    position: absolute;
    left: 10px;
}
   /* navbar */
.nav1{
    visibility: hidden;
}   
.nav{
    color: var(--navbarcolor);
    position: absolute;
    top:32%;
    right: 20%;
}
.nav a{
    text-decoration: none;
    color: var(--navbarcolor);
    cursor: pointer;
}

.nav li{
    list-style-type: none;
    display: inline;
    padding: 5px 35px;
    font-size: 2.4rem;
}

.nav li:hover{
    color: black;
    background-color: #7a571a4e;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px white;
}

   /* menu button */
.menu {
    visibility: hidden;
    font-size: 6rem;
    position: absolute;
    right: 0%;
    top: 20%;
    text-align: end;
    padding-right: 10px;
}
.menu i {
    font-size: 45px;
}
   
    /** section de connexion **/
.Div {
    position: absolute;
    right: 0.5%;
    top: 25%;
}

.conn,.insc {
    padding: 10px 20px;
    margin: 0px 8px;
    background-color: #644715;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.2rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  .conn:hover, .insc:hover {
    background-color: #ffffff00;
    transform: scale(1.1);
    border: 1px solid white;
  }
  
  .conn:focus, .insc:focus {
    outline: none;
  }
  



    /**************************************** section 2 ****************************************/
.second_section{
    display: flexbox;
    background-color: var(--bagcolorsection);
    margin: 100px 1% 3% 1%;
    padding: 3% 2%;
}

.second_section .glob {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.second_section .img{
    width: 40%;
    height: 25%;
}

.second_section .def{ 
    width: 50%;
    font-size: 2.8rem;
    color: var(--paragraphcolor);
}

/** Aide **/
.second_section .aide {
    position: relative;
    display: flex;
    text-align: center;
    margin-top: 30px;
}
.second_section .aide .ad{
    overflow: hidden;
    padding: 2% 0.5%;
    margin: 0.5%;
    font-size: 2rem;
    border-radius: 15%;
    background-color: var(--bagcoloraides);
    text-align: justify;
    flex-grow: 1;
    justify-content: space-between;
    width: 31%;
}

.second_section .aide .ad h3{
    text-align: center;
}
.second_section .aide .ad .defn{
    font-size: 2rem;
    text-align: justify;
    padding: 3% 5%;
    margin: 3% 0px 0px 0px;
    color: black;
}


    /**************************************** Services ****************************************/
.services_section{
    display: flexbox;
    background-color: var(--bagcolorsection);
    margin: 3% 1%;
    padding:  2% 4%;
    text-align: center;
}
  /* titre */
.services_section h1{
    text-align: center;
    color: var(--colorh1);
    font-size: 6rem;
    margin-bottom: 20px;
}

.services_section h1 span{
    font-size: 4rem;
}

    /* services */
.services_section .bloc1,.bloc2 {
    display: flex;
}
.services_section  .serv{
    overflow: hidden;
    background-color: var(--bagcolorservices);
    padding: 1% 0.5%;
    margin: 0.5%;
    border-radius: 5px;
    font-size: 2rem;
    flex-basis: 100%;
}

   /* titre du service */
.services_section  .titre, .titre{
    margin-bottom: 2%;
}
.services_section  .serv .defn {
    text-align: justify;
    padding: 0 3%;
    justify-items:center ;
}
.services_section  .serv h3, .serv h3 {
    display: inline;
    padding-left: 2%;
}

.services_section  .serv i, .serv i {
    color: var(--coloriconesservices);
    font-size: 2.5rem;
}



    /**************************************** A propos de nous section ****************************************/
.apropos_section {
    display: flexbox;
    background-color: var(--bagcolorsection);
    margin: 3% 1%;
    padding:  2% 3%;
}
    /* titre */
.apropos_section h1{
    text-align: center;
    color: var(--colorh1);
    font-size: 5rem;
    margin-bottom: 20px;
}

.apropos_section h1 span{
    font-size: 4rem;
}

.apropos_section .apropo {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.apropos_section .imag {
    width: 35%;
}

.apropos_section .imag img {
    border-radius: 8px;
}

.apropos_section .para {
    width: 60%;
    font-size: 2.5rem;
    color: var(--paragraphcolor);
}

   



    /**************************************** Footer Section ****************************************/
.footer {
    background-color: var(--bagcolorfooter);
    color: var(--colorfooter);
    margin-top: 4%;
    padding: 4% 2% 0% 2%;
}

.footer .logo img {
    width: 130px;
}

    /* lien et listes */
.footer .cont {
    display: flex;
    justify-content: space-around;

}

.footer h4 {
    padding-left: 5%;
    margin-bottom: 5px;
    font-size: 2.2rem;
}

.footer li {
    list-style-type: circle;
    color: rgba(255, 255, 255, 0.524);
    margin-bottom: 8px;
    font-size: 1.9rem;
}
.footer li:hover {
    color: white;
    transform: translateX(7px);
}

.footer a{
    text-decoration: none;
}
.footer a:hover{
    font-size: 1.8rem;
}

   /* resaux */
.resaux {
    display: flex;
    justify-content: flex-start;
    padding: 10px ;
    margin: 0 0px 30px 0px;
}

.resaux .res {
    margin: 0px 1.5%;
}

.resaux .res img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
}



.footer hr {
    color: white;
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer p{
    padding: 20px 0px;
    color: #A5D7E8;
    font-size: 2rem;
    text-align: center;
}



  







