

/* styles pour les écrans moyens*/
@media only screen and (max-width: 1355px) {

    /** first section **/
    .first_section .nav {
    visibility: hidden;
    }
    .first_section .nav1 {
    display: block;
    position: absolute;
    top: 100%;
    right: 0%;
    z-index: 1;
    background-color: #aa8b56e6;
    justify-content: center;
    height: 500px;
    width: 300px;
    }
    .nav1 a {
    text-decoration: none;
    color: white;
    }
    .nav1 li {
    font-size: 2.8rem;
    list-style-type: none;
    margin: 16px 0px;
    height: 50px;
    width: 85%;
    text-align: center;
    }
    .nav1 li:hover {
    color: black;
    border: none;
    box-shadow: none;
    border-radius: none;
    }
    /** menu **/
    .first_section .Div {
    right: 15%;
    }
    
    .first_section .menu {
    visibility: visible;
    height: 90px;
    top: 14%;
    right: 8px;
    width: 60px;
    background-color: red;
    }
    
}




/* les styles pour les petites écrans */
@media only screen and (max-width: 1107px) {

    html{font-size: 9.5px;}
    
    /***** second section *****/
        .second_section .glob {
            flex-wrap: wrap;
        }

        .second_section .glob .img {
            flex-basis: 90%;
            text-align: center;
            margin-bottom: 30px;
        }

        .second_section .glob .def {
            flex-basis: 95%;
        }
    
    
    /***** apropos section *****/
        .apropos_section .apropo {
            flex-wrap: wrap;
        }
        .apropos_section .apropo .imag,.para {
            flex-basis: 100%;
            text-align: center;
        }
        .apropos_section .apropo .imag img {
            height: 300px;
        }
        .apropos_section .apropo .para {
            text-align: justify;
            margin-top: 30px;
        }
    

}




@media only screen and (max-width: 850px) {

    html{font-size: 9px;}

    /**** second section *****/
        .second_section .aide {
            flex-wrap: wrap;
        }
    /***** Services section *****/
        .services_section .bloc1,.bloc2 {
            flex-wrap: wrap;
            justify-content: center;
        }

        .services_section .serv {
            margin-bottom: 10px;
        }

}

@media only screen and (max-width: 720px) {

    html{font-size: 8.5px;}

    /***** footer *****/
    .footer .cont {
        flex-wrap: wrap;
    }

    .footer .cont .logo {
        flex-basis: 30%;
    }
    .footer .cont .lien {
        flex-basis: 60%;
    }
    .footer .cont .noserv {
        flex-basis: 45%;
    }
    .footer .cont .nosolu {
        flex-basis: 45%;
    }

}

/* les styles pour les téléphones */
@media only screen and (max-width: 600px) {

    html{font-size: 8px;}
    
    .first_section {
    height: 140px;
    }
    .first_section .Div {
        right: 19%;
        top: 15%;
    }
    .first_section .Div .conn,.insc {
        display: flex;
        margin-bottom: 10px;
    }

    .Div a {
    text-decoration: none;
    }

    .first_section .menu {
        top: 50%;
        right: 4%;
        z-index: 4;
    }
    .first_section .nav1 {
        top: 100%;
    }
    
    /** second section **/
    .second_section .img {
        margin-top: 50px;
    }

    .second_section .aide .ad {
        flex-basis: 80%;
        margin-bottom: 20px;
    }

    

}
    


