@media screen and (max-width:1375px) {
    html{font-size: 9px;}

    .position .posi {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 130px;
    }
    .posi input {
        height: 45px;
    }
    .posi button{
        height: 54px;
        flex-basis: 15%;
    }

    /*****/

    .Ajout {
        height: 1100px;
    }
    .Ajout form {
        flex-wrap: wrap;
    }
    .Ajout .d1,.d2 {
        flex-basis: 100%;
    }
    .Ajout form input[type="submit"] {
        width: 160px;
    }

}




@media screen and (max-width:900px) {

    html{font-size: 8.5px;}

    .navbar .nav{visibility: hidden;}

    .navbar .menu{
        visibility: visible;
        height: 90px;
        top: 14%;
        right: 5px;
        width: 60px;
    }

    .navbar .nav1 {
        position: absolute;
        top: 100%;
        right: 0%;
        z-index: 1;
        background-color: #aa8b56e6;
        justify-content: center;
        height: 500px;
        width: 300px;
        }
    
    
    .nav1 a {
        text-decoration: none;
        color: white;
    }
    .nav1 li {
        font-size: 2.8rem;
        list-style-type: none;
        margin: 16px 0px;
        height: 50px;
        width: 85%;
        text-align: center;
    }
    .nav1 li:hover {
        color: black;
        border: none;
        box-shadow: none;
        border-radius: none;
    }
}


@media screen and (max-width:627px) {

    html{font-size: 8px;}

    .position .posi {
        flex-direction: column;
        align-content: space-between;
        height: 200px;
    }
}