
body{
    background: rgb(41,7,46);
    background: -moz-linear-gradient(90deg, rgba(41,7,46,1) 8%, rgba(122,84,139,1) 49%, rgba(143,97,152,1) 75%, rgba(75,12,58,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(41,7,46,1) 8%, rgba(122,84,139,1) 49%, rgba(143,97,152,1) 75%, rgba(75,12,58,1) 100%);
    background: linear-gradient(90deg, rgba(41,7,46,1) 8%, rgba(122,84,139,1) 49%, rgba(143,97,152,1) 75%, rgba(75,12,58,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#29072e",endColorstr="#4b0c3a",GradientType=1); 
}

h1{
    font-size: 50px;
    text-align: center;
    background-color: rgba(7, 197, 255, 0.425);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 100px;
}

#D{
    background-color: rgba(73, 32, 77, 0.548); 
    color: white;
    width: 700px;
    height: 470px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 20px 30px;
    font-size: 30px;

}

    /* div des button aller */
.divbutton{
    display: flex;
    position: absolute;
    left: 17%;
    top: 50%;
}


   /* button aller HTML */
#html,#cpp,#JS{
    width: 400px;
    margin-right: 50px;
    font-size: 50px;
    padding: 5px 10px;
    background-color: white;
    color: rgba(0, 0, 255, 0.634);
    cursor: pointer;
}

#html:hover,#cpp:hover,#JS:hover{
    background-color: rgba(0, 0, 255, 0.755);
    color: white;
    transition: 0.7s;
}


   /* button suivant */
#btnsu{
    font-size: 35px;
    width: max-content;
    padding: 5px 10px;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    background-color: white;
    color: rgb(25, 188, 200);
    cursor: pointer;
    font-weight: bold;
}

#btnsu:hover{
    background-color: rgb(25, 188, 200);
    color: white;
    transition: 0.7s;
}

   /*Questions */
#question,
#questionc,
#questionj{
    font-size: 35px;
}

   /* les paragraphes des reponces */
#rep1,#rep2,#rep3,
#rep1c,#rep2c,#rep3c,
#rep1j,#rep2j,#rep3j {
    font-size: 33px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 50px;
}

#rep1:hover,#rep2:hover,#rep3:hover,
#rep1c:hover,#rep2c:hover,#rep3c:hover,
#rep1j:hover,#rep2j:hover,#rep3j:hover {
    background-color: rgba(255, 255, 255, 0.269);
}

   /* checkbox */
#cho1,#cho2,#cho3,
#cho1c,#cho2c,#cho3c,
#cho1j,#cho2j,#cho3j {
    width: 23px;
    height: 23px;
    margin-right: 10px;
    cursor: pointer;
}

  /* Note */
#note,
#notec,
#notej{
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}